<div class="container">
<div class="form">

<h1>New Project</h1>

<%= form_for @experiment do |f| %>

<% if @experiment.errors.any? %>
<div id="error_explanation">
<h2>
<%= pluralize(@experiment.errors.count, "error") %> prohibited
this experiment from being saved:
</h2>
<ul>
<% @experiment.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
</div>
<% end %>

<%= f.text_field :name, :placeholder => "Project Name" %>
<%= f.text_field :min, :placeholder => "Min Size of Each Group" %>
<%= f.text_field :max, :placeholder => "Max Size of Each Group" %>
<%= f.text_area :description, :placeholder => "Project Description", size: "47x6" %>
<%= f.submit "Create a new project", class: "btn-submit" %>


<% end %>


</div>
</div>